
.portfolio {
    height: auto;
    width: 100vw;
    display: block;
    font-family: "Raleway", sans-serif;
    background: #dbf0f1;
    padding: 100px 0 100px 0;

    .section-title {
        font-size: 34px;
        font-weight: bold;
        color: #042b33;
    }

    .card-container {
        padding: 50px 0 50px 0;
        flex-wrap: wrap;
        width: 100%;

        .card-item-container {
            width: 450px;
            height: 275px;
            perspective: 1000px;
            background: transparent;
            display: inline-block;
            margin: 10px;

            .animated {
                height: 100%;
                width: 100%;
            }

            .card-item {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
            }

            &.card-item-container:hover .card-item {
                transform: rotateY(180deg);
              }

            .card-front, .card-back, .card-img {
                width: 100%;
                height: 100%;
                border-radius: 8px;

            }

            .card-front, .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden; 
                backface-visibility: hidden;
            }

            .card-back {
                transform: rotateY(180deg);
                background: #042b33;
                text-align: center;

                .card-header-text {
                    padding: 10px;
                    font-size: 22px;
                    font-weight: bold;
                    color: #14e4d6;

                    p {
                        font-size: 12px;
                        color: white;
                    }
                }

                .card-body-text {
                    color: white;
                    padding: 0 30px 0 30px;
                }

                .view-btn {
                    background: #e31b6d;
                    border-radius: 40px;
                    width: 165px;
                    height: 46px;
                    font-size: 16px;
                    border: 2px white solid;
                    transition: color 0.5s;
                    margin-top: 15px;
                    position: absolute;
                    bottom: 30px;
                    left: 30%;
    
                    &:hover, :focus {
                        background: #14e4d6;
                        color: #e31b6d;
                    }
                }
            }


        }
    }
}