
.portfolio {
    height: 800px;
    width: 100vw;
    display: block;
    font-family: "Raleway", sans-serif;
    background: #dbf0f1;
    padding: 100px 0 100px 0;

    .section-title {
        font-size: 34px;
        font-weight: bold;
        color: #042b33;
    }
}