.about {
    height: auto;
    width: 100%;
    display: block;
    font-family: "Raleway", sans-serif;
    padding: 100px 0 100px 0;

    .section-title {
        font-size: 34px;
        font-weight: bold;
        color: #042b33;
    }

    .about-container {
        width: 100%;
        align-items: flex-start;
        margin-top: 75px;
        padding: 50px 0 50px 0;


        @media screen and (max-width: 960px) {
            flex-direction: column;
            align-items: center;

            .section-about, .section-skills {
                max-width: 100% !important;
            }

            .section-skills {
                width: auto !important;
                margin-top: 55px !important;
            }
        }
        
        .section-about, .section-skills {
            display: block;
            margin: 0 50px 0 50px;
            flex: 1 1 50%;
            max-width: 50%;
            height: auto;
            text-align: center;
            box-sizing: border-box;

            .section-sub-header {
                font-size: 24px;
                font-weight: bold;
                margin: 20px 0 20px 0;
            }
        }

        .section-about {

            img {
                height: 250px;
                width: 250px;
                border-radius: 50%;
            }

            .contact-btn {
                background: #e31b6d;
                border-radius: 40px;
                width: 165px;
                height: 46px;
                font-size: 16px;
                border: 2px white solid;
                transition: color 0.5s;
                margin-top: 15px;

                &:hover, :focus {
                    background: #14e4d6;
                    color: #e31b6d;
                }
            }
        }

        .section-skills {

            max-width: 100%;
            width: calc(100%);

            .section-sub-header {
                margin-top: 0px;
            }

            .skills-area {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;

                span {
                    padding: 6px;
                    margin: 10px 10px 10px 10px;
                    display: block;
                    width: 99px;
                    border-radius: 8px;
                    transition: all 0.6s ease-in-out;

                    &:hover {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                        -webkit-box-shadow: 5px 28px 15px -8px rgba(0,0,0,0.34); 
                        box-shadow: 5px 28px 15px -8px rgba(0,0,0,0.34);
                    }

                    img {
                        height: 65px;
                        display: block;
                        margin: 0 auto;
                        padding-bottom: 5px;
                    }
                }

                .skills-text {
                    padding-top: 15px;
                }
            }
        }
        
    }
    
}


