.about {
    height: 800px;
    width: 100vw;
    display: block;
    font-family: "Raleway", sans-serif;

    .section-title {
        padding-top: 75px;
        font-size: 34px;
        font-weight: bold;
        color: #042b33;
    }
}

