.modal-backdrop {
    height: 100vh;
    width: 100%;
    background: #00000063;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeIn;
    animation-duration: 0.8s;

    &.close {
        animation: fadeOut;
        animation-duration: 0.8s;
    }

    .modal-container {
        max-width: 735px;
        width: 100%;
        background: white;
        transition: all 0.8s ease-in-out;
        -webkit-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px;

        animation: zoomIn;
        animation-duration: 0.8s;

        @media only screen and (max-height: 480px) {
            overflow-y: auto;
        }

        &.close {
            animation: zoomOut;
            animation-duration: 0.8s;
        }

        .modal-video-container {
            width: 100%;
            height: 365px;
            border-bottom: solid #0e9b98 3px;

            @media only screen and (max-width: 425px) {
                height: 225px;
            }

            @media only screen and (min-width: 425px) and (max-width: 425px) {
                height: 265px;
            }

            video {
                height: 100%;
                width: 100%;
                object-fit: fill;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }

        .modal-content {
            padding: 25px;

            .modal-title {
                font-size: 26px;
                font-weight: bold;

                
                @media only screen and (max-width:450px) {
                    font-size: 22px;
                }

                .modal-subtitle {
                    font-size: 18px;
                    font-weight: bold;
                    color: var(--pink);
                    padding-bottom: 12px;
                    border-bottom: 1px #9696967d solid;

                    p {
                        margin: 0;
                    }

                    .repo-btn {
                        background: var(--mediumCyan);
                        border-radius: 40px;
                        width: auto;
                        height: 36px;
                        font-size: 14px;
                        border: 2px var(--mediumCyan) solid;
                        transition: all 0.5s;
                        color: white;
                        margin: 10px 10px 5px 0;
    
                        &:hover,
                        :focus {
                            background: transparent;
                            color: var(--mediumCyan);
                        }
                    }

                    @media only screen and (max-width:450px) {
                        font-size: 14px;
                    }
                }
            }

            .modal-body {
                margin-top: 30px;
                margin-bottom: 20px;

                .ps {
                    max-height: 185px;
                }
            }

            .modal-footer {
                .viewSite-btn {
                    background: var(--pink);
                    border-radius: 40px;
                    width: auto;
                    height: 42px;
                    font-size: 16px;
                    border: 2px var(--pink) solid;
                    transition: all 0.5s;
                    margin: 0 10px 0 0;

                    &:hover,
                    :focus {
                        background: var(--brightCyan);
                        color: var(--pink);
                    }
                }

                .exit-icon {
                    background: var(--pink);
                    cursor: pointer;
                    height: 42px;
                    width: 42px;
                    position: relative;
                    text-align: center;
                    color: white;
                    font-size: 24px;
                    transition: all 0.5s;
                    border-radius: 40px;
                    border: 2px var(--pink) solid;
                    float: right;

                    .anticon {
                        vertical-align: -0.15em;
                    }

                    &:hover,
                    :focus {
                        background: var(--brightCyan);
                        color: var(--pink);
                    }
                }
            }
        }
    }
}
