

        .home {
            font-family: "Raleway", sans-serif;
            height: calc(100vh + 53px);
            width: 100vw;
            padding: 0px;
        }

        .video-container {
            height: 100%;
            width: 100vw;
            left: 0;
            top: 0;
            position: absolute;
            
            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .video-container::before {
            content: "";
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            -webkit-backdrop-filter: blur(6px); /* apply the blur */
            backdrop-filter: blur(6px);         /* apply the blur */
            pointer-events: none; /* make the pseudo class click-through */
          }

        .text {
            font-size: 36px;
            font-weight: bold;
            color: white;
            z-index: 99;
            text-align: center;
            height: 135px;
            
            @media only screen and (max-width: 600px) {
                height: 195px;
            }

            .highlight {
                color: #e31b6d;
            }
        }

        .ant-btn.outline__round {
            border-radius: 40px;
            background: transparent;
            color: white;
            border: white solid 2px;
            font-size: 18px;
            height: auto;
            width: 210px;
            padding: 8px;
            font-family: "Raleway", sans-serif;
            z-index: 99;

            .anticon svg {
                transition: transform 0.3s;
                color: #e31b6d;
            }

            &:hover {
                background-color: #e31b6d;
                color: white;
                border: white solid 2px;

                .anticon svg {
                    transform: rotate(90deg);
                    color: #14e4d6;
                }
            }

            &:focus {
                background-color: #e31b6d;
                color: white;
                border: white solid 2px;

                
                .anticon svg {
                    transform: rotate(90deg);
                    color: #14e4d6;
                }
            }
        }

        .navMenu {
            bottom: -50px;
            left: 0;
            position: absolute;
            background: #00181d;
            border-bottom: solid #0e9b98 3px;
            height: 50px;
            text-align: left;
            width: 100%;
            z-index: 99;

            &.hidden {
                visibility: hidden;
            }

            &.sticky {
                position: fixed;
                top: 0;
                width: 100%;

                animation: slideInDown; 
                animation-duration: 2s; 
            }
            
            
            .menuItems-link-wrapper {
                transition: height 0.3s ease-out;
                width: 100%;
                text-align: left;
                max-width: 1200px;

                .menu-link {
                    display: inline;
                    color: white;
                    padding: 0 20px;
                    font-size: 16px;
                    text-transform: uppercase;
                    transition: color 0.5s;
                    cursor: pointer;
                    font-weight: bold;

                    &:hover {
                        color: #e31b6d
                    }

                    &.active {
                        color: #e31b6d;
                    }
                }
            }
        }
